<!doctype html>
<html>
   <head>
      <script src = "assets/angular.min.js"></script>
      <style>
      .mainDiv{ margin: 0 auto;
    max-width: 659px;
    margin-top: 0;
    background: #f1f1f1;
    padding: 3px 51px;
    min-height: 500px;}
    a{text-decoration: none;}
    .edit{    text-decoration: none;
    margin: 0 12px;
    display: inline-block;}
      </style>
   </head>
   
   <body style="margin:0px" ng-app = "notes">
      <div class="mainDiv" ng-controller = "listController" >
	<div ng-show="list==1">  
      <h2>List of notes created</h2>
      <p style="color:green" >{{message}}</p>
      <div ng-if="count>0" >
		  <div ng-repeat="obj in listOfNotes track by $index" style="position:relative;display: block;overflow: hidden;margin-bottom: 15px;border-bottom: 1px dotted silver;padding-bottom: 14px;">
			<img style="position:absolute;left:0;top:0px;width: 18px;" ng-src="assets/note-icon.jpg" style="width:18px" /> 
			<div style="margin-left:26px">{{obj.title}}   <a class="edit" ng-click="openNew(obj.id)" href="javascript:void(0)">Edit</a>  <a ng-click="deleteNote(obj.id)" href="javascript:void(0)">Delete</a></div>
		  </div>	
	  </div>
	  <div ng-if="count==0" >
		  <div style="position:relative;display: block;overflow: hidden;margin-bottom: 15px;border-bottom: 1px dotted silver;padding-bottom: 14px;">
              <p >No notes created yet!</p>
          </div> 
	  </div>	  
      <div ng-click="openNew('')" style="cursor:pointer;position:relative;display: block;color:blue;overflow: hidden;margin-bottom: 15px;border-bottom: 1px dotted silver;padding-bottom: 14px;">
		<img style="position:absolute;left:0;top:0px;width: 18px;" ng-src="assets/notes-add.png" style="width:18px" /> 
		<div style="margin-left:26px;">Create New Note</div>
	  </div>	
	</div>		 
    <div  ng-show="list==2" >
		<h2>Create New Note</h2>
		<input type="text" ng-model="title" / ><br>
		<textarea style="margin: 0px; width: 685px; height: 370px;" ng-model="notes">{{notes}}</textarea><Br>
		<button ng-click="saveLists()" >Save</button>
		<button ng-click="cancel()" >Cancel</button>
		
	</div>	  
		 
      </div>
     <script>var BASEURL='http://localhost:3000'</script>
      <script src = "assets/controller.js"></script>
   </body>
</html>
